body {
    color: rgb(206, 202, 202);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    padding: 30px;
}

section{
    background-color: rgb(206, 202, 202);
    padding: 30px 150px 30px 150px;
    display: flex;
    flex-direction: row;
    flex: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

.photo {
    display: inline-block;
    background-color:rgb(206, 202, 202);
    margin: 25px;
    flex-grow: 1;
}

.photo img {
    max-width: 70%;
    height: auto;
    float: right;
    align-items: center;
}

.intro {
    display: inline-block;
    background-color:rgb(206, 202, 202);;
    margin: 25px;
    flex-grow: 3;
    color:  rgb(56, 50, 50);
}

.intro a {
    color: #DA7C68;
    text-decoration: none;
}

footer {
    background-color:rgb(105, 95, 95);
    padding: 6px;
    color: white;
}

.social-menu ul {
    margin: 0;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 20px;
}

.social-menu ul li .fa {
    font-size: 15px;
    color: #000;
    line-height: 30px;
    transition: .6s;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 3px rgba (0,0,0,.5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #007785;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #55acee;
}

.navbar-brand {
    font-style: ;
}

.headings {
    padding: 50px 150px 80px 150px;
    background-color: rgb(206, 202, 202);
    text-align: center;
    flex-grow: 1;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    color: rgb(56, 50, 50);
}

#edu {
    background-color: rgb(206, 135, 54);
    color: white;
}

.education {
    background-color:  rgb(206, 135, 54);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.education div {
    display: inline-block;
    flex-grow: 1;
    padding-bottom: 100px;
    flex: 1;
}

.education i {
    display: block;
    align-items: center;  
    padding-bottom: 20px;
}

.education img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.education span {
    display: block;
    padding-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 19px
}

#role {
    font-size: 15px;
}

#uber img {
    width: 275px;
    height: auto;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 33.6px;
}

#exp {
    background: rgb(206, 202, 202);
    color: rgb(56, 50, 50);
}

#role1 {
    color: rgb(56, 50, 50);
}

.resume {
    background: rgb(206, 202, 202);
    text-align: center;
    padding-bottom: 100px;
}

.btn {
    width: 200px;
    height: 50px;
    border-radius: 20%;
    background-color: rgb(56, 50, 50);
    border-color: rgb(37, 33, 33) ;
    color: white;
    box-shadow: 2px 4px rgba(56, 50, 50, 0.356);
}

#work div {
    background-color: rgb(206, 202, 202);
    padding-bottom: 80px;
}

#top_name {
    text-transform: uppercase;
    color:  rgb(56, 50, 50);
    font-size: 50px;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

hr {
    max-width:100px;
    border-width:3px;
    color:orangered;
    background-color:orangered;
    height: 4px;
}

#interests {
    background-color: #42455a;
    color: white;
    padding-bottom: 50px;
}

.img-group {
    display: flex;
    padding-bottom: 100px;
    background-color: #42455a;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
}

.img-group img{
    width: 100%;
    height: auto;
    min-width: 300px;
}

.img-container1 {
    flex: 1.33684210526;
}

.img-container2 {
    flex: 1.6;
}

.img-container3 {
    flex: 1.50279850746;
}

.contact-form-group {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px 80px 30px;
    background-color: rgb(206, 202, 202);
    text-align: center;
    display: block;
}

.contact-form {
    background-color: rgb(206, 202, 202);
}

.form-control {
    max-width: 500px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin: auto;
}

form .submit {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    cursor: pointer;
    background-color: #f44336;
}

#contact {
    color: rgb(56, 50, 50);
}

#contact span {
    font-size: 20px;
    text-transform: none;
    margin-top: 0px;
}

.test1 {
    display: flex;
    padding: 50px 30px 80px 30px;
    flex-wrap: wrap;
    background-color:  rgb(206, 202, 202);
}

.container1 {
    flex: 1;
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

.i-container a {
    color: #DA7C68;
    text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
}

.i-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 202, 202);
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(56, 50, 50);
    margin-top: -30px;
    padding-bottom: 50px;
}

.i-container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(206, 202, 202);
}

.i-container .i-card {
    position: relative;
    max-width: 900px;
    background-color: rgb(206, 202, 202);
    margin: 10px;
    padding: 15px;
    display: flex;
}

.i-container .i-card .i-img {
    max-width: 150px;
    flex: 0 0 150px;
}

.i-container .i-card .i-img img {
    max-width: 100%;
}

.i-container .i-card .i-content {
    margin-left: 40px;
}

@media (max-width: 768px) {
    .i-container {
        flex-direction: column;
    }

    .i-container .i-card {
        flex-direction: column;
        max-width: 350px;
    }

    .i-container .i-card .i-img {
        flex-direction: column;
        max-width: 100%;
    }

    .i-container .i-card .i-content {
        margin-left: 0px;
        margin-top: 30px;
    }
}



